
.nav-item {
    padding-left: 15px;
}
.nav-item a {
    font-weight: bold;
}
.navbar {
    padding-top: 50px;
}
.navbar-brand img {
    width: 150px;
}

.btn-buy-now {
    border: none;
    color: white;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
}
h2 {
    font-size: 20px;
}
.carousel-indicators li {
    background-color: #CECECE;
    width: 7px;
    height: 5px;
    border-radius: 50%;

}
.carousel-indicators li.active {
    width: 20px;
    height: 5px;
    border-radius: 50%;
    background-color: #FF9C35;

}
.smartphone,
.smartphone h3 {
    margin-bottom: 50px;
    margin-top: 50px;
}
.smartphone a {
    margin-bottom: 50px;
    margin-top: 50px;
    color: #FF9C35;
}
.smart-phone-section {
    text-align: center;

}
.card {
    border: none;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card img {
    width: 60%;
    padding-top: 30px;

}

.laptops-catagories,
.laptops-catagories h3 {
    margin-bottom: 50px;

}
.laptops-catagories a {
    color: #FF9C35;
    margin-bottom: 50px;

}
.laptops-section {
    text-align: center;
}
.container-catagories {
    padding-bottom: 100px;
}

#catagories-bg {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 70px;
}
.categories-border::after {
    position: absolute;
    content: " ";
    height: 7px;
    width: 70px;
    background: transparent linear-gradient(142deg, #FF9C35 0%, #FFD019 100%) 0 0 no-repeat padding-box;
    border-radius: 10px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.pale-order img {
    width: 100%;
}
.merge-images0 img {
    padding: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 5px 5px 5px 30px;
    box-shadow: 5px 5px 10px lightgray;
}

.merge-images1,
.merge-images2 {
    padding: 40px;
    background-color: white;
    margin: 10px;
    border-radius: 5px 5px 30px 5px;
    box-shadow: 5px 5px 10px lightgray;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}
